REDIS_HOST=redis 
REDIS_PORT=6379
ELASTIC_HOST=hhttp://elasticsearch:9200
ELASTIC_FILM_INDEX=movies
ELASTIC_GENRE_INDEX=genres
ELASTIC_PERSON_INDEX=persons

SERVICE_DEFAULT_PAGE_SIZE=50
SERVICE_MAX_PAGE_SIZE=100
SERVICE_URL=http://api:6666/api/v1
